{% extends 'base_layout.html'%}
{% load static %}

{% block content %}

 

<main role="main" class="main-content">
    <div class="row">
      <div class="col-lg-4">
   </div>
      <div class="col-lg-4">
           <!-- alert message-->

           {% for message in messages %}
           <div class="alert alert-success" id="alert" role="alert">
             <p>{{message}}</p>
           </div>
         {% endfor %}
  
         <!--end alert message-->
      </div>
      <div class="col-lg-4">
      </div>
        <div class="col-md-12 my-4">
          <h2 class="h4 mb-1">Student Table</h2>
          <div class="card shadow">
            <div class="card-body" style="font-size: 12px;">
              <!-- table -->
              <a href="{% url 'add_student' %}"> 
                <button type="button" class="btn mb-2 btn-primary float-right"><span class="fe fe-plus fe-16 mr-2"></span>Add Student</button></a>
                <div class="form-group col-md-4">
                  <input type="text"  id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search Student">
                </div>
                <table class="table table-hover table-borderless border-v" id="myTable">
                <thead class="thead-dark">
                  <tr>
                    <th>SN</th>
                    <th>View</th>
                    <th>Name</th>
                    <th>Plan</th>    
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in students  %}
                  <tr>
                    <td>{{student.id}}</td>
                    <td><a href="/profile/{{ student.id}}" ><span class="fe fe-24 fe-align-justify"></span></a></td>
                    <td>{{student.name}}</td>
                    <td>{{student.plan}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.plan.gender}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.address}}</td>
                  
                     <td>
                      <a href="/edit_student/{{ student.id}}" data-toggle="tooltip" data-placement="top" title="Edit Student Details"><span class="fe fe-edit fe-12 mr-4"></span></a>
                      <a href="/delete_student/{{student.id }}" onclick="window.mytest()" data-toggle="tooltip" data-placement="top" title="Delete Student "><span class="fe fe-trash fe-12 mr-4"></span></a>
                     </td>
                {% endfor %}
              </tr>  
                </tbody>
              </table>
              <!--end table-->
            </div>
          </div>
        </div>
      </div> <!-- end section -->
                </main>         
      
<script>
 function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                  } else {
                      tr[i].style.display = "none";
                    }
            }       
    }
  }
</script>
                                 
{% endblock %}