{% extends 'base_layout.html'%}
{% load static %}

{% block content %}

 

<main role="main" class="main-content">
    <div class="row">
      <div class="col-lg-4">
   </div>
      <div class="col-lg-4">
           <!-- alert message-->

           {% for message in messages %}
           <div class="alert alert-success" id="alert" role="alert">
             <p>{{message}}</p>
           </div>
         {% endfor %}
  
         <!--end alert message-->
      </div>
      <div class="col-lg-4">
      </div>
        <div class="col-md-12 my-4">
          <h2 class="h4 mb-1">Fee unpaid</h2>
          <div class="card shadow">
            <div class="card-body" style="font-size: 12px;">
                <div class="form-group col-md-4">
                   
                  </div>
              <!-- table -->
                <table class="table table-hover table-borderless border-v" id="myTable">
                <thead class="thead-dark">
                  <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Action</th>
                   
                  </tr>
                </thead>
                <tbody>
               {% for user in users %}   
              
               <tr>
                 <td>{{user.id}}</td>
                 
                 <td>{{user.username}}</td>
                 <td><a href="/delete_user/{{ user.id }}" onclick="window.mytest()" data-toggle="tooltip" data-placement="top" title="Delete Student "><span class="fe fe-trash fe-12 mr-4"></span></a>
               </td>
                </tr>
             
              {% endfor %}
                </tbody>
              </table>
              <!--end table-->
            </div>
          </div>
        </div>
      </div> <!-- end section -->
                </main>         
      

                                                                
{% endblock %}